.Items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #b4b3b3;
}
.buyButton{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: purple;
    color: #fff;
    cursor: pointer;
}

.buyButton:active{
    transform: scale(0.9);
}